In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import time
from dfply import *

In [2]:
import psycopg2

conn = psycopg2.connect(
    host = "localhost",
    user = "postgres",
    password="June3060!!",
    database = "mimic_data",
    port="5432"
)

cursor = conn.cursor()
print("database connected")

database connected

In [3]:
df = pd.read_csv("../Data/reintubation_df_240127.csv", index_col="Unnamed: 0")

In [4]:
df2 = df.copy()

--------

In [5]:
start_time = time.time()

cursor = conn.cursor()
cursor.execute("select * from mimiciv_derived.gcs;")
rows = cursor.fetchall()
columns_name = [desc[0] for desc in cursor.description]
gcs = pd.DataFrame(rows, columns=columns_name)

end_time = time.time()
wait_time = end_time - start_time
print("경과 시간 : ", wait_time)
gcs

경과 시간 :  6.21423077583313

,subject_id,stay_id,charttime,gcs,gcs_motor,gcs_verbal,gcs_eyes,gcs_unable
0,12466550,30000153,2174-09-29 12:45:00,15.0,5.0,0.0,3.0,1
1,12466550,30000153,2174-09-29 16:26:00,15.0,6.0,0.0,4.0,1
2,12466550,30000153,2174-09-29 17:37:00,15.0,6.0,0.0,4.0,1
3,12466550,30000153,2174-09-29 18:00:00,9.0,5.0,1.0,3.0,0
4,12466550,30000153,2174-09-29 19:00:00,9.0,5.0,1.0,3.0,0
...,...,...,...,...,...,...,...,...
1637758,17840864,39999810,2115-12-05 00:00:00,14.0,6.0,5.0,3.0,0
1637759,17840864,39999810,2115-12-05 04:00:00,14.0,6.0,5.0,3.0,0
1637760,17840864,39999810,2115-12-05 08:28:00,15.0,6.0,5.0,4.0,0
1637761,17840864,39999810,2115-12-05 12:00:00,15.0,6.0,5.0,4.0,0
1637762,17840864,39999810,2115-12-05 16:00:00,15.0,6.0,5.0,4.0,0

In [21]:
'''
* 기존 데이터엔 int_time이 NaN이라면, int_stayid도 NaN이다 (ext_time 동일)

* B/P와 같은 기준으로 진행
* int_stayid(int_time)을 우선으로 데이터 병합 진행
    * charttime <= int_time
* int_stayid 없다면, ext_stayid(ext_time)으로 진행
    * charttime >= ext_time
'''

def group_df_gcs(group):
    # group의 index, row를 하나씩 확인
    for idx, row in group.iterrows():

        # 만약, int_stayid가 null 값이 아니라면
        if pd.notnull(row["int_stayid"]):

            # gcs의 subject_id, stay_id가 row의 subject_id, int_stayid를 만족하는 데이터 프레임을 만든다.
            gcs_df = gcs[(gcs["subject_id"] == row["subject_id"]) & (gcs["stay_id"] == row["int_stayid"])]

            # row의 intubationtime보다 작거나 같은 gcs_df의 charttime 중 가장 마지막 index를 반환
            suitable_location = gcs_df[gcs_df["charttime"] <= row["intubationtime"]].last_valid_index()
            try:
                # 반환된 index를 이용하여 값 할당
                group.loc[idx, "gcs"] = gcs_df.at[suitable_location, "gcs"]
            except:
                # 만약 반환된 index가 없다면 (intubationtime이 가장 최소 값이라면)
                try:
                    # gcs_df의 charttime이 가장 작은 값을 index로 가지는 gcs 값 할당
                    group.loc[idx, "gcs"] = gcs_df.at[gcs_df["charttime"].idxmin(), "gcs"]
                except:
                    # 그래도 값이 없다면 nan 값 할당
                    group.loc[idx, "gcs"] = np.nan
        # 만약 int_stayid가 null 값이라면                    
        else:

            # gcs의 subject_id, stay_id가 row의 subject_id, ext_stayid를 만족하는 데이터 프레임을 만든다.
            gcs_df = gcs[(gcs["subject_id"] == row["subject_id"]) & (gcs["stay_id"] == row["ext_stayid"])]

            # row의 extubationtime보다 크거나 같은 gcs_df 의 charttime 중 가장 최근 index를 반환
            suitable_location = gcs_df[gcs_df["charttime"] >= row["extubationtime"]].first_valid_index()
            try:
                # 반환된 index를 이용하여 값 할당
                group.loc[idx, "gcs"] = gcs_df.at[suitable_location, "gcs"]
            except:
                # 만약 반환된 index가 없다면 (extubationtime이 최대 값이라면)
                try:
                    # gcs_df의 charttime이 가장 큰 값을 index로 가지는 gcs 값 할당
                    group.loc[idx, "gcs"] = gcs_df.at[gcs_df["charttime"].idxmax(), "gcs"]
                except:
                    # 그래도 값이 없다면 nan 값 할당
                    group.loc[idx, "gcs"] = np.nan
    # group return
    return group

In [7]:
df_gcs = df2.groupby(["subject_id", "hadm_id"], group_keys=False).apply(group_df_gcs)

In [8]:
df_gcs

,subject_id,hadm_id,int_stayid,admittime,intubationtime,int_itemid,int_weight,ext_stayid,extubationtime,ext_itemid,ext_weight,extubationcause,dischtime,deathtime,marker,mvtime,reintubation_eventtime,reintubationtime,gcs
0,10001884,26184834,37510196.0,2131-01-07 20:39:00,2131-01-11 04:30:00,224385.0,65.0,37510196.0,2131-01-12 17:40:00,227194.0,65.0,Planned Extubation,2131-01-20 05:15:00,2131-01-20 05:15:00,NaN,2230.0,NaN,NaN,15.0
1,10003400,23559586,38383343.0,2137-08-04 00:07:00,2137-08-17 21:21:00,224385.0,90.5,38383343.0,2137-08-21 15:40:00,227194.0,99.6,Planned Extubation,2137-09-02 17:05:00,2137-09-02 17:05:00,NaN,5419.0,NaN,NaN,7.0
2,10004401,27939719,31202136.0,2144-04-11 03:31:00,2144-04-11 05:03:00,224385.0,120.0,NaN,NaN,NaN,NaN,NaN,2144-04-13 17:31:00,NaN,NaN,NaN,NaN,NaN,15.0
3,10004401,29988601,32773003.0,2144-01-23 07:58:00,2144-01-27 19:00:00,224385.0,76.0,32773003.0,2144-01-30 12:30:00,227194.0,76.0,Planned Extubation,2144-02-06 11:45:00,NaN,NaN,3930.0,2144-01-30 13:00:00,30.0,9.0
4,10004401,29988601,32773003.0,2144-01-23 07:58:00,2144-01-30 13:00:00,224385.0,76.0,NaN,NaN,NaN,NaN,NaN,2144-02-06 11:45:00,NaN,NaN,NaN,NaN,NaN,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9003,19997367,20617667,35616526.0,2126-04-20 07:15:00,2126-04-26 20:14:00,224385.0,59.0,35616526.0,2126-05-02 16:30:00,227194.0,59.0,Planned Extubation,2126-05-19 14:15:00,NaN,NaN,8416.0,2126-05-05 18:20:00,4430.0,15.0
9004,19997367,20617667,35616526.0,2126-04-20 07:15:00,2126-05-05 18:20:00,224385.0,59.0,35616526.0,2126-05-08 17:29:00,227194.0,59.0,Planned Extubation,2126-05-19 14:15:00,NaN,NaN,4269.0,NaN,NaN,15.0
9005,19999068,21606769,30143796.0,2161-08-24 04:10:00,2161-08-25 15:34:00,224385.0,55.8,30143796.0,2161-08-28 13:35:00,227194.0,55.8,Planned Extubation,2161-09-02 19:00:00,NaN,NaN,4201.0,NaN,NaN,14.0
9006,19999442,26785317,32336619.0,2148-11-19 10:00:00,2148-11-19 19:00:00,224385.0,107.5,32336619.0,2148-11-20 14:15:00,227194.0,107.5,Planned Extubation,2148-12-04 16:25:00,NaN,NaN,1155.0,NaN,NaN,10.0
9007,19999840,21033226,38978960.0,2164-09-10 13:47:00,2164-09-12 09:40:00,224385.0,77.5,NaN,NaN,NaN,NaN,NaN,2164-09-17 13:42:00,2164-09-17 13:42:00,NaN,NaN,NaN,NaN,15.0

In [24]:
df_gcs["gcs"].isna().sum()

14

In [12]:
df_gcs[df_gcs["gcs"].isna()]

,subject_id,hadm_id,int_stayid,admittime,intubationtime,int_itemid,int_weight,ext_stayid,extubationtime,ext_itemid,ext_weight,extubationcause,dischtime,deathtime,marker,mvtime,reintubation_eventtime,reintubationtime,gcs
443,10496428,26731894,39824510.0,2145-03-30 09:18:00,2145-03-30 13:45:00,224385.0,63.9,39824510.0,2145-03-30 16:51:00,227194.0,63.9,Planned Extubation,2145-03-30 14:35:00,2145-03-30 14:35:00,NaN,186.0,NaN,NaN,NaN
1038,11153593,26036172,34121619.0,2135-08-26 21:27:00,2135-08-28 10:00:00,224385.0,76.4,NaN,NaN,NaN,NaN,NaN,2135-09-09 15:50:00,2135-09-09 15:50:00,NaN,NaN,NaN,NaN,NaN
1654,11869585,25855136,38368006.0,2157-01-13 22:29:00,2157-01-28 21:25:00,224385.0,51.8,38368006.0,2157-01-28 23:00:00,227194.0,51.8,Planned Extubation,2157-01-28 01:21:00,2157-01-28 23:30:00,NaN,95.0,NaN,NaN,NaN
1763,11988196,26286088,33299263.0,2160-01-09 17:57:00,2160-01-17 00:37:00,224385.0,92.1,NaN,NaN,NaN,NaN,NaN,2160-01-17 01:28:00,2160-01-17 01:28:00,NaN,NaN,NaN,NaN,NaN
1894,12129870,23439078,38330038.0,2119-02-23 11:30:00,2119-03-04 12:38:00,224385.0,47.7,NaN,NaN,NaN,NaN,NaN,2119-03-04 13:36:00,2119-03-04 13:36:00,NaN,NaN,NaN,NaN,NaN
4133,14593313,22338913,33451999.0,2128-04-26 19:46:00,2128-05-04 17:45:00,224385.0,88.7,NaN,NaN,NaN,NaN,NaN,2128-05-05 20:30:00,2128-05-05 20:30:00,NaN,NaN,NaN,NaN,NaN
4548,15094817,24179138,30973804.0,2126-04-28 20:10:00,2126-05-03 16:58:00,224385.0,81.2,30973804.0,2126-05-03 18:07:00,227194.0,81.2,Planned Extubation,2126-05-03 17:30:00,2126-05-03 17:30:00,NaN,69.0,NaN,NaN,NaN
5119,15693895,21203492,30500789.0,2147-06-02 11:00:00,2147-06-05 22:00:00,224385.0,80.0,NaN,NaN,NaN,NaN,NaN,2147-06-15 15:12:00,2147-06-15 15:12:00,NaN,NaN,NaN,NaN,NaN
6455,17101881,25648226,34828491.0,2133-03-26 22:37:00,2133-03-26 22:45:00,224385.0,71.0,NaN,NaN,NaN,NaN,NaN,2133-03-27 01:00:00,2133-03-27 01:00:00,NaN,NaN,NaN,NaN,NaN
7324,18098128,25408525,36740821.0,2141-05-16 20:30:00,2141-05-27 06:55:00,224385.0,71.2,NaN,NaN,NaN,NaN,NaN,2141-05-27 07:44:00,2141-05-27 07:44:00,NaN,NaN,NaN,NaN,NaN
7599,18449910,23072701,36627518.0,2171-11-11 17:13:00,2171-11-11 19:20:00,224385.0,90.0,38246462.0,2171-11-13 18:10:00,227194.0,90.0,Planned Extubation,2171-12-03 13:00:00,NaN,NaN,2810.0,NaN,NaN,NaN
7859,18743622,28389010,30445100.0,2173-05-21 14:41:00,2173-05-26 09:15:00,224385.0,68.0,30445100.0,2173-05-26 16:35:00,227194.0,68.0,Planned Extubation,2173-05-26 16:55:00,2173-05-26 16:55:00,NaN,440.0,NaN,NaN,NaN
8262,19225784,28549334,38825617.0,2187-04-24 07:15:00,2187-04-30 12:00:00,224385.0,50.8,NaN,NaN,NaN,NaN,NaN,2187-04-30 16:25:00,2187-04-30 16:25:00,NaN,NaN,NaN,NaN,NaN
8882,19855099,23924601,39989651.0,2169-02-23 13:39:00,2169-02-23 17:00:00,224385.0,80.0,33738626.0,2169-03-08 09:07:00,227194.0,80.0,Planned Extubation,2169-03-15 18:19:00,NaN,NaN,18247.0,NaN,NaN,NaN

In [26]:
# 데이터가 없다.. 어떻게 대입을 할까..?

gcs[(gcs["subject_id"] == 19855099) & (gcs["stay_id"] == 39989651.0)]

Empty DataFrame
Columns: [subject_id, stay_id, charttime, gcs, gcs_motor, gcs_verbal, gcs_eyes, gcs_unable]
Index: []

# 내용 정리
* GCS 추출 
* 함수를 사용하여 데이터프레임에 붙여준다.

## 문의사항

1. 데이터 프레임 병합 결과, GCS값이 NaN 값이있는 경우가 14개로 나옵니다.
    * 원본 gcs 데이터를 확인해보니, paired된 데이터 프레임의 subject_id, stay_id와 같은 조건을 만족하는 데이터가 없는 것으로 확인되었습니다.
    * NaN 값을 처리하는 다른 방법이 존재할지 문의드립니다.
2. gcs 데이터프레임을 확인해보면 gcs외에도 gcs_motor, gcs_verbal, gcs_eyes, gcs_unable 등의 컬럼이 존재하는 것을 확인했습니다,
   이도 병합을 해주는 것이 좋을까요?