# Height

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import time
from dfply import *

In [3]:
import psycopg2

conn = psycopg2.connect(
    host = "localhost",
    user = "postgres",
    password="June3060!!",
    database = "mimic_data",
    port="5432"
)

cursor = conn.cursor()
print("database connected")

database connected

In [4]:
df = pd.read_csv("../Data/reintubation_df_240127.csv", index_col="Unnamed: 0")

In [5]:
df2 = df.copy()

In [6]:
df2

,subject_id,hadm_id,int_stayid,admittime,intubationtime,int_itemid,int_weight,ext_stayid,extubationtime,ext_itemid,ext_weight,extubationcause,dischtime,deathtime,marker,mvtime,reintubation_eventtime,reintubationtime
0,10001884,26184834,37510196.0,2131-01-07 20:39:00,2131-01-11 04:30:00,224385.0,65.0,37510196.0,2131-01-12 17:40:00,227194.0,65.0,Planned Extubation,2131-01-20 05:15:00,2131-01-20 05:15:00,NaN,2230.0,NaN,NaN
1,10003400,23559586,38383343.0,2137-08-04 00:07:00,2137-08-17 21:21:00,224385.0,90.5,38383343.0,2137-08-21 15:40:00,227194.0,99.6,Planned Extubation,2137-09-02 17:05:00,2137-09-02 17:05:00,NaN,5419.0,NaN,NaN
2,10004401,27939719,31202136.0,2144-04-11 03:31:00,2144-04-11 05:03:00,224385.0,120.0,NaN,NaN,NaN,NaN,NaN,2144-04-13 17:31:00,NaN,NaN,NaN,NaN,NaN
3,10004401,29988601,32773003.0,2144-01-23 07:58:00,2144-01-27 19:00:00,224385.0,76.0,32773003.0,2144-01-30 12:30:00,227194.0,76.0,Planned Extubation,2144-02-06 11:45:00,NaN,NaN,3930.0,2144-01-30 13:00:00,30.0
4,10004401,29988601,32773003.0,2144-01-23 07:58:00,2144-01-30 13:00:00,224385.0,76.0,NaN,NaN,NaN,NaN,NaN,2144-02-06 11:45:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9003,19997367,20617667,35616526.0,2126-04-20 07:15:00,2126-04-26 20:14:00,224385.0,59.0,35616526.0,2126-05-02 16:30:00,227194.0,59.0,Planned Extubation,2126-05-19 14:15:00,NaN,NaN,8416.0,2126-05-05 18:20:00,4430.0
9004,19997367,20617667,35616526.0,2126-04-20 07:15:00,2126-05-05 18:20:00,224385.0,59.0,35616526.0,2126-05-08 17:29:00,227194.0,59.0,Planned Extubation,2126-05-19 14:15:00,NaN,NaN,4269.0,NaN,NaN
9005,19999068,21606769,30143796.0,2161-08-24 04:10:00,2161-08-25 15:34:00,224385.0,55.8,30143796.0,2161-08-28 13:35:00,227194.0,55.8,Planned Extubation,2161-09-02 19:00:00,NaN,NaN,4201.0,NaN,NaN
9006,19999442,26785317,32336619.0,2148-11-19 10:00:00,2148-11-19 19:00:00,224385.0,107.5,32336619.0,2148-11-20 14:15:00,227194.0,107.5,Planned Extubation,2148-12-04 16:25:00,NaN,NaN,1155.0,NaN,NaN
9007,19999840,21033226,38978960.0,2164-09-10 13:47:00,2164-09-12 09:40:00,224385.0,77.5,NaN,NaN,NaN,NaN,NaN,2164-09-17 13:42:00,2164-09-17 13:42:00,NaN,NaN,NaN,NaN

------

In [7]:
start_time = time.time()

cursor = conn.cursor()
cursor.execute("select * from mimiciv_icu.d_items;")
rows = cursor.fetchall()
columns_name = [desc[0] for desc in cursor.description]
d_items = pd.DataFrame(rows, columns=columns_name)

end_time = time.time()
wait_time = end_time - start_time
print("경과 시간 : ", wait_time)

경과 시간 :  0.015526294708251953

## d_items -> heights 데이터 확인

* itemid => 226707, 226730

In [14]:
d_items[d_items["label"].str.contains('Hei')]

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
1941,226707,Height,Height,chartevents,General,Inch,Numeric,NaN,NaN
1945,226730,Height (cm),Height (cm),chartevents,General,cm,Numeric,NaN,NaN

In [18]:
d_items[d_items["label"].str.contains('ature')]

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
339,223761,Temperature Fahrenheit,Temperature F,chartevents,Routine Vital Signs,°F,Numeric,NaN,NaN
340,223762,Temperature Celsius,Temperature C,chartevents,Routine Vital Signs,°C,Numeric,NaN,NaN
507,224027,Skin Temperature,Skin Temp,chartevents,Skin - Assessment,None,Text,NaN,NaN
769,224642,Temperature Site,Temp Site,chartevents,Routine Vital Signs,None,Text,NaN,NaN
792,224674,Changes in Temperature,Changes in Temperature,chartevents,Toxicology,None,Text,NaN,NaN
1814,226329,Blood Temperature CCO (C),Blood Temp CCO (C),chartevents,Routine Vital Signs,°C,Numeric,NaN,NaN
2097,227054,TemperatureF_ApacheIV,TemperatureF_ApacheIV,chartevents,Scores - APACHE IV (2),°F,Numeric,NaN,NaN
2779,228242,Pt. Temperature (BG) (SOFT),Pt. Temperature (BG) (SOFT),chartevents,Labs,None,Numeric,NaN,NaN
3466,229236,Cerebral Temperature (C),Cerebral T (C),chartevents,Hemodynamics,°C,Numeric,NaN,NaN
3560,229356,Differential - Immature Granulocytes,Differential - Immature Granulocytes,chartevents,Labs,None,Numeric,NaN,NaN

## chartevents에서 키에 해당하는 itemid 추출

In [19]:
start_time = time.time()

cursor = conn.cursor()
cursor.execute("select * from mimiciv_icu.chartevents where itemid in (226707, 226730);")
rows = cursor.fetchall()
columns_name = [desc[0] for desc in cursor.description]
heights_chart = pd.DataFrame(rows, columns=columns_name)

end_time = time.time()
wait_time = end_time - start_time
print("경과 시간 : ", wait_time)

경과 시간 :  43.94747185707092

In [20]:
heights_chart

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10000032,29079034,39553978,88981,2180-07-23 12:36:00,2180-07-23 14:45:00,226707,60,60.0,Inch,0
1,10000032,29079034,39553978,88981,2180-07-23 12:36:00,2180-07-23 14:45:00,226730,152,152.0,cm,0
2,10001725,25563031,31205490,22280,2110-04-11 15:52:00,2110-04-11 16:01:00,226707,62,62.0,Inch,0
3,10001725,25563031,31205490,22280,2110-04-11 15:52:00,2110-04-11 16:01:00,226730,157,157.0,cm,0
4,10001884,26184834,37510196,3512,2131-01-11 04:20:00,2131-01-13 14:43:00,226707,62,62.0,Inch,0
...,...,...,...,...,...,...,...,...,...,...,...
67409,19997843,20277361,32880062,7326,2120-11-17 23:17:00,2120-11-18 02:58:00,226730,157,157.0,cm,0
67410,19998770,28494258,37676535,71578,2182-06-14 15:31:00,2182-06-14 18:52:00,226707,26,26.0,Inch,0
67411,19998770,28494258,37676535,71578,2182-06-14 15:31:00,2182-06-14 18:52:00,226730,65,65.0,cm,0
67412,19999840,21033226,38978960,82641,2164-09-12 09:26:00,2164-09-12 09:47:00,226707,70,70.0,Inch,0
67413,19999840,21033226,38978960,82641,2164-09-12 09:26:00,2164-09-12 09:47:00,226730,178,178.0,cm,0

* heights 값이 cm, inch가 각각 환자당 1개씩 저장되어 있는 것을 확인
* cm 값만 사용

In [21]:
heights_chart['valueuom'].value_counts()

valueuom
Inch    33707
cm      33707
Name: count, dtype: int64

In [27]:
heights_chart2 = heights_chart[heights_chart["valueuom"] == "cm"].copy()

In [28]:
heights_chart2

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
1,10000032,29079034,39553978,88981,2180-07-23 12:36:00,2180-07-23 14:45:00,226730,152,152.0,cm,0
3,10001725,25563031,31205490,22280,2110-04-11 15:52:00,2110-04-11 16:01:00,226730,157,157.0,cm,0
5,10001884,26184834,37510196,3512,2131-01-11 04:20:00,2131-01-13 14:43:00,226730,157,157.0,cm,0
7,10002013,23581541,39060235,96730,2160-05-18 10:00:00,2160-05-18 12:05:00,226730,157,157.0,cm,0
9,10002428,20321825,34807493,62692,2156-04-30 20:36:00,2156-05-02 16:37:00,226730,150,150.0,cm,0
...,...,...,...,...,...,...,...,...,...,...,...
67405,19995780,21942461,36805359,97715,2125-10-20 11:32:00,2125-10-20 11:35:00,226730,168,168.0,cm,0
67407,19997367,20617667,35616526,65197,2126-04-21 10:08:00,2126-04-21 11:47:00,226730,147,147.0,cm,0
67409,19997843,20277361,32880062,7326,2120-11-17 23:17:00,2120-11-18 02:58:00,226730,157,157.0,cm,0
67411,19998770,28494258,37676535,71578,2182-06-14 15:31:00,2182-06-14 18:52:00,226730,65,65.0,cm,0
67413,19999840,21033226,38978960,82641,2164-09-12 09:26:00,2164-09-12 09:47:00,226730,178,178.0,cm,0

In [30]:
df2 >> left_join(heights_chart2, by=("subject_id", "hadm_id"))

,subject_id,hadm_id,int_stayid,admittime,intubationtime,int_itemid,int_weight,ext_stayid,extubationtime,ext_itemid,...,reintubationtime,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10001884,26184834,37510196.0,2131-01-07 20:39:00,2131-01-11 04:30:00,224385.0,65.0,37510196.0,2131-01-12 17:40:00,227194.0,...,NaN,37510196.0,3512.0,2131-01-11 04:20:00,2131-01-13 14:43:00,226730.0,157,157.0,cm,0.0
1,10003400,23559586,38383343.0,2137-08-04 00:07:00,2137-08-17 21:21:00,224385.0,90.5,38383343.0,2137-08-21 15:40:00,227194.0,...,NaN,38383343.0,36212.0,2137-08-10 19:54:00,2137-08-17 21:21:00,226730.0,165,165.0,cm,0.0
2,10004401,27939719,31202136.0,2144-04-11 03:31:00,2144-04-11 05:03:00,224385.0,120.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3,10004401,29988601,32773003.0,2144-01-23 07:58:00,2144-01-27 19:00:00,224385.0,76.0,32773003.0,2144-01-30 12:30:00,227194.0,...,30.0,32773003.0,83158.0,2144-01-26 22:28:00,2144-01-28 10:42:00,226730.0,168,168.0,cm,0.0
4,10004401,29988601,32773003.0,2144-01-23 07:58:00,2144-01-30 13:00:00,224385.0,76.0,NaN,NaN,NaN,...,NaN,32773003.0,83158.0,2144-01-26 22:28:00,2144-01-28 10:42:00,226730.0,168,168.0,cm,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527,19997367,20617667,35616526.0,2126-04-20 07:15:00,2126-04-26 20:14:00,224385.0,59.0,35616526.0,2126-05-02 16:30:00,227194.0,...,4430.0,35616526.0,65197.0,2126-04-21 10:08:00,2126-04-21 11:47:00,226730.0,147,147.0,cm,0.0
9528,19997367,20617667,35616526.0,2126-04-20 07:15:00,2126-05-05 18:20:00,224385.0,59.0,35616526.0,2126-05-08 17:29:00,227194.0,...,NaN,35616526.0,65197.0,2126-04-21 10:08:00,2126-04-21 11:47:00,226730.0,147,147.0,cm,0.0
9529,19999068,21606769,30143796.0,2161-08-24 04:10:00,2161-08-25 15:34:00,224385.0,55.8,30143796.0,2161-08-28 13:35:00,227194.0,...,NaN,30143796.0,29154.0,2161-08-24 04:11:00,2161-08-26 12:28:00,226730.0,170,170.0,cm,0.0
9530,19999442,26785317,32336619.0,2148-11-19 10:00:00,2148-11-19 19:00:00,224385.0,107.5,32336619.0,2148-11-20 14:15:00,227194.0,...,NaN,32336619.0,29154.0,2148-11-19 14:23:00,2148-11-20 16:34:00,226730.0,193,193.0,cm,0.0
9531,19999840,21033226,38978960.0,2164-09-10 13:47:00,2164-09-12 09:40:00,224385.0,77.5,NaN,NaN,NaN,...,NaN,38978960.0,82641.0,2164-09-12 09:26:00,2164-09-12 09:47:00,226730.0,178,178.0,cm,0.0