# Eligibility : 성인/특정 질환 또는 이벤트까지 추출

## 데이터베이스 연결

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import pprint
from datetime import datetime, timedelta
import time
from dfply import *
import matplotlib.pyplot as plt
import seaborn as sns
import impyute as impy
from impyute.imputation.cs import mice
#from sqlalchemy import create_engine

In [2]:
#pip freeze > requirements.txt

In [3]:
import psycopg2
from sshtunnel import SSHTunnelForwarder

try:
    tunnel= SSHTunnelForwarder(
         ('', ),
         #ssh_private_key="</path/to/private/ssh/key>",
         ### in my case, I used a password instead of a private key
         ssh_username="",
         ssh_password="", 
         remote_bind_address=('localhost',))
         
    tunnel.start()
    print("tunnel connected")

    params = {
             'database': 'mimiciv',
             'user': '',
             'password': '',
             'host': 'localhost',
             'port': tunnel.local_bind_port
             }

    conn = psycopg2.connect(**params)
    conn.autocommit = True
    curs = conn.cursor()
    print("database connected")

except Exception as e:
    print("Connection Failed due to {e}")

# Remember to close the SSH tunnel
#tunnel.close()

tunnel connected
database connected

In [4]:
#어떤 스키마에 어떤 테이블이 있는지 확인
curs.execute("select * from PG_TABLES;")
rows = curs.fetchall( ) #결과가지고옴

for row in rows:
    print(row)

('mimiciv_hosp', 'diagnoses_icd', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'labevents', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'd_icd_diagnoses', 'mai_admin', None, True, False, False, False)
('mimiciv_hosp', 'd_icd_procedures', 'mai_admin', None, True, False, False, False)
('mimiciv_hosp', 'emar', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'hcpcsevents', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'd_labitems', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'pharmacy', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'omr', 'mai_admin', None, False, False, False, False)
('mimiciv_hosp', 'poe_detail', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'poe', 'mai_admin', None, True, False, True, False)
('pg_catalog', 'pg_statistic', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_type', 'postgres', None, True, False, False, False)
('mimiciv_hosp', 'procedures_icd', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'provider', 'mai_admin', None, False, False, False, False)
('mimiciv_hosp', 'drgcodes', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'emar_detail', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'd_hcpcs', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'microbiologyevents', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'prescriptions', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'services', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'transfers', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'caregiver', 'mai_admin', None, False, False, False, False)
('mimiciv_icu', 'inputevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'ingredientevents', 'mai_admin', None, False, False, False, False)
('mimiciv_icu', 'chartevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'icustays', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'd_items', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'datetimeevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'outputevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'procedureevents', 'mai_admin', None, True, False, True, False)
('pg_catalog', 'pg_foreign_table', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_authid', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_statistic_ext_data', 'postgres', None, True, False, False, False)
('mimiciv_hosp', 'patients', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'admissions', 'mai_admin', None, True, False, True, False)
('mimiciv_derived', 'age', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icustay_detail', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icustay_hourly', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'bg', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'blood_differential', 'mai_admin', None, False, False, False, False)
('pg_catalog', 'pg_user_mapping', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_subscription', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_attribute', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_proc', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_class', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_attrdef', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_constraint', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_inherits', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_index', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_operator', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_opfamily', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_opclass', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_am', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_amop', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_amproc', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_language', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_largeobject_metadata', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_aggregate', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_statistic_ext', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_rewrite', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_trigger', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_event_trigger', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_description', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_cast', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_enum', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_namespace', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_conversion', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_depend', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_database', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_db_role_setting', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_tablespace', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_auth_members', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_shdepend', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_shdescription', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_ts_config', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_config_map', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_dict', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_parser', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_template', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_extension', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_foreign_data_wrapper', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_foreign_server', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_policy', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_replication_origin', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_default_acl', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_init_privs', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_seclabel', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_shseclabel', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_collation', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_parameter_acl', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_partitioned_table', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_range', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_transform', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_sequence', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_publication', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_publication_namespace', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_publication_rel', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_subscription_rel', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_largeobject', 'postgres', None, True, False, False, False)
('information_schema', 'sql_features', 'postgres', None, False, False, False, False)
('information_schema', 'sql_implementation_info', 'postgres', None, False, False, False, False)
('information_schema', 'sql_parts', 'postgres', None, False, False, False, False)
('information_schema', 'sql_sizing', 'postgres', None, False, False, False, False)
('mimiciv_derived', 'cardiac_marker', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'chemistry', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'coagulation', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'complete_blood_count', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'creatinine_baseline', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'enzyme', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'gcs', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'height', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icp', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'inflammation', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'oxygen_delivery', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'rhythm', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'urine_output_rate', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'ventilator_setting', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'vitalsign', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'charlson', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'antibiotic', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'dobutamine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'dopamine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'epinephrine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'milrinone', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'neuroblock', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'norepinephrine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'phenylephrine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'vasopressin', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'crrt', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'invasive_line', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'rrt', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'ventilation', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_bg', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_bg_art', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_gcs', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_height', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_lab', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_rrt', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_urine_output', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_vitalsign', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_weight', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'kdigo_creatinine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'meld', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'apsiii', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'lods', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'oasis', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sapsii', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sirs', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sofa', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'suspicion_of_infection', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icustay_times', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'weight_durations', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'urine_output', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'kdigo_uo', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'kdigo_stages', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_sofa', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sepsis3', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'vasoactive_agent', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'norepinephrine_equivalent_dose', 'mai_admin', None, False, False, False, False)
('mimiciv_note', 'discharge', 'mai_admin', None, False, False, False, False)
('mimiciv_note', 'radiology', 'mai_admin', None, False, False, False, False)
('mimiciv_note', 'discharge_detail', 'mai_admin', None, False, False, False, False)
('mimiciv_note', 'radiology_detail', 'mai_admin', None, False, False, False, False)

##### Subject, admission 등 입원 정보 테이블에서 대상환자를 추출하겠습니다.

In [74]:
curs.execute("select * from mimiciv_hosp.admissions;")
columns_name = [desc[0] for desc in curs.description]
admissions = pd.DataFrame(curs.fetchall(), columns=columns_name)

In [75]:
curs.execute("select * from mimiciv_hosp.patients;")
columns_name = [desc[0] for desc in curs.description]
patients = pd.DataFrame(curs.fetchall(), columns=columns_name)

In [76]:
curs.execute("select * from mimiciv_hosp.transfers;")
columns_name = [desc[0] for desc in curs.description]
transfers = pd.DataFrame(curs.fetchall(), columns=columns_name)

In [77]:
curs.execute("select * from mimiciv_icu.icustays;")
columns_name = [desc[0] for desc in curs.description]
icustays = pd.DataFrame(curs.fetchall(), columns=columns_name)

In [78]:
admissions.head(2)

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0

In [79]:
patients.head(2)

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010        None

In [80]:
transfers.head(2)

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,10000032,22595853.0,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00
1,10000032,22595853.0,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27

In [81]:
icustays.head(2)

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535

##### 성인환자를 조회하고 뽑아봅시다

In [82]:
adults_pat = patients >> filter_by(X.anchor_age >= 18)
adults_pat
#299712

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000048,F,23,2126,2008 - 2010,None
2,10000068,F,19,2160,2008 - 2010,None
3,10000084,M,72,2160,2017 - 2019,2161-02-13
4,10000102,F,27,2136,2008 - 2010,None
...,...,...,...,...,...,...
299707,19999828,F,46,2147,2017 - 2019,None
299708,19999829,F,28,2186,2008 - 2010,None
299709,19999840,M,58,2164,2008 - 2010,2164-09-17
299710,19999914,F,49,2158,2017 - 2019,None
299711,19999987,F,57,2145,2011 - 2013,None

In [83]:
#60세 이상 노인은 추후 subgroup 으로 분석될 예정임, 확인만
elder_pat = adults_pat >> filter_by(X.anchor_age >= 60)
elder_pat
# 98065

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
3,10000084,M,72,2160,2017 - 2019,2161-02-13
12,10000459,M,63,2178,2011 - 2013,None
13,10000473,M,81,2138,2017 - 2019,None
19,10000635,F,74,2136,2014 - 2016,None
23,10000764,M,86,2132,2014 - 2016,None
...,...,...,...,...,...,...
299689,19999287,F,71,2191,2008 - 2010,2197-09-02
299692,19999303,F,61,2161,2008 - 2010,None
299695,19999379,F,91,2174,2011 - 2013,None
299699,19999565,F,66,2185,2008 - 2010,None
299700,19999625,M,81,2138,2008 - 2010,None

In [84]:
adults_hadm = adults_pat >> left_join(admissions, by = "subject_id") >> select("subject_id", "gender", "anchor_age", "hadm_id", "admittime", "dischtime", "deathtime")
adults_hadm
#성인 입원정보를 불러옵니다. #550210 왜 늘어나냐면 1명이 여러번 입원했기 때문임

,subject_id,gender,anchor_age,hadm_id,admittime,dischtime,deathtime
0,10000032,F,52,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT
1,10000032,F,52,22841357.0,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT
2,10000032,F,52,25742920.0,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT
3,10000032,F,52,29079034.0,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT
4,10000048,F,23,NaN,NaT,NaT,NaT
...,...,...,...,...,...,...,...
550205,19999829,F,28,NaN,NaT,NaT,NaT
550206,19999840,M,58,21033226.0,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00
550207,19999840,M,58,26071774.0,2164-07-25 00:27:00,2164-07-28 12:15:00,NaT
550208,19999914,F,49,NaN,NaT,NaT,NaT
550209,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT

In [85]:
adults_hadm.dtypes #데이터타입확인

subject_id             int64
gender                object
anchor_age             int64
hadm_id              float64
admittime     datetime64[ns]
dischtime     datetime64[ns]
deathtime     datetime64[ns]
dtype: object

In [86]:
transfers.dtypes
#df=df.astype({"colName":"type"})
#nicu1 = newborn_a1[newborn_a1['careunit'].str.contains('tensive', na = False)]
#nicu = nicu1 >> drop(X.subject_id_y) >> rename(subject_id = X.subject_id_x)

subject_id              int64
hadm_id               float64
transfer_id             int64
eventtype              object
careunit               object
intime         datetime64[ns]
outtime        datetime64[ns]
dtype: object

In [87]:
adult_transfers = adults_hadm >> left_join(transfers, by = ("subject_id", "hadm_id"))
adult_transfers 
#transfer에는 병동이동정보가 담겨 있습니다. 붙여보면 icu 등 이동 이력이 붙어서 더 늘어난 것을 확인할 수 있습니다.

,subject_id,gender,anchor_age,hadm_id,admittime,dischtime,deathtime,transfer_id,eventtype,careunit,intime,outtime
0,10000032,F,52,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,33258284,ED,Emergency Department,2180-05-06 19:17:00,2180-05-06 23:30:00
1,10000032,F,52,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,35223874,admit,Transplant,2180-05-06 23:30:00,2180-05-07 17:21:27
2,10000032,F,52,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,36904543,discharge,None,2180-05-07 17:21:27,NaT
3,10000032,F,52,22841357.0,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,34100253,discharge,None,2180-06-27 18:49:12,NaT
4,10000032,F,52,22841357.0,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,34703856,admit,Transplant,2180-06-26 21:31:00,2180-06-27 18:49:12
...,...,...,...,...,...,...,...,...,...,...,...,...
1723451,19999914,F,49,NaN,NaT,NaT,NaT,32002659,ED,Emergency Department,2158-12-24 11:41:00,2158-12-24 11:56:00
1723452,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT,30249304,transfer,Neurology,2145-11-04 21:29:30,2145-11-11 13:00:47
1723453,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT,34731548,ED,Emergency Department,2145-11-02 19:28:00,2145-11-02 22:59:00
1723454,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT,36195440,admit,Trauma SICU (TSICU),2145-11-02 22:59:00,2145-11-04 21:29:30
1723455,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT,37191562,discharge,None,2145-11-11 13:00:47,NaT

In [88]:
##나이로 환자 뽑고 -> 조건에따라 제거해 나가기 -> 필요한 환자만 남기기
# 아까 어덜트로 다시가볼까요
# adults_hadm.info
#adults_hadm.isnull()
#adults_hadm 에서 입원을 하지 않은 환자는 필요없으므로, hadm_id가 없는 환자들은 지워주도록 합시다 
adults_hadm2 = adults_hadm >> mask(adults_hadm.hadm_id.notnull())
adults_hadm2

,subject_id,gender,anchor_age,hadm_id,admittime,dischtime,deathtime
0,10000032,F,52,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT
1,10000032,F,52,22841357.0,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT
2,10000032,F,52,25742920.0,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT
3,10000032,F,52,29079034.0,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT
5,10000068,F,19,25022803.0,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT
...,...,...,...,...,...,...,...
550203,19999828,F,46,25744818.0,2149-01-08 16:44:00,2149-01-18 17:00:00,NaT
550204,19999828,F,46,29734428.0,2147-07-18 16:23:00,2147-08-04 18:10:00,NaT
550206,19999840,M,58,21033226.0,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00
550207,19999840,M,58,26071774.0,2164-07-25 00:27:00,2164-07-28 12:15:00,NaT
550209,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT

In [89]:
#그리고나는 icu에 입원했던 정보가 필요하니까, icu 데이터를 붙여봅니다
adults_icu = adults_hadm2 >> left_join(icustays, by = ("subject_id", "hadm_id"))
adults_icu

,subject_id,gender,anchor_age,hadm_id,admittime,dischtime,deathtime,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,F,52,22595853.0,2180-05-06 22:23:00,2180-05-07 17:15:00,NaT,NaN,NaN,NaN,NaT,NaT,NaN
1,10000032,F,52,22841357.0,2180-06-26 18:27:00,2180-06-27 18:49:00,NaT,NaN,NaN,NaN,NaT,NaT,NaN
2,10000032,F,52,25742920.0,2180-08-05 23:44:00,2180-08-07 17:50:00,NaT,NaN,NaN,NaN,NaT,NaT,NaN
3,10000032,F,52,29079034.0,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,39553978.0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
4,10000068,F,19,25022803.0,2160-03-03 23:16:00,2160-03-04 06:26:00,NaT,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438168,19999828,F,46,25744818.0,2149-01-08 16:44:00,2149-01-18 17:00:00,NaT,36075953.0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2149-01-08 18:12:00,2149-01-10 13:11:02,1.790995
438169,19999828,F,46,29734428.0,2147-07-18 16:23:00,2147-08-04 18:10:00,NaT,NaN,NaN,NaN,NaT,NaT,NaN
438170,19999840,M,58,21033226.0,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,38978960.0,Trauma SICU (TSICU),Surgical Intensive Care Unit (SICU),2164-09-12 09:26:28,2164-09-17 16:35:15,5.297766
438171,19999840,M,58,26071774.0,2164-07-25 00:27:00,2164-07-28 12:15:00,NaT,NaN,NaN,NaN,NaT,NaT,NaN
438172,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT,36195440.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2145-11-02 22:59:00,2145-11-04 21:29:30,1.937847

In [90]:
#stayid 가 없는 사람이 많으니까 없애야겠죠?
adults_icu2 = adults_icu >> mask(adults_icu.stay_id.notnull())
adults_icu2
#이쯤되니 index 가 거슬리기 시작합니다... 이걸 교정할지는 좀 생각해봅시다.

,subject_id,gender,anchor_age,hadm_id,admittime,dischtime,deathtime,stay_id,first_careunit,last_careunit,intime,outtime,los
3,10000032,F,52,29079034.0,2180-07-23 12:35:00,2180-07-25 17:55:00,NaT,39553978.0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
32,10000980,F,73,26913865.0,2189-06-27 07:38:00,2189-07-03 03:00:00,NaT,39765666.0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535
39,10001217,F,55,24597018.0,2157-11-18 22:56:00,2157-11-25 18:00:00,NaT,37067082.0,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032
40,10001217,F,55,27703517.0,2157-12-18 16:58:00,2157-12-24 14:55:00,NaT,34592300.0,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113
58,10001725,F,46,25563031.0,2110-04-11 15:08:00,2110-04-14 15:00:00,NaT,31205490.0,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:52:22,2110-04-12 23:59:56,1.338588
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438142,19999442,M,41,26785317.0,2148-11-19 10:00:00,2148-12-04 16:25:00,NaT,32336619.0,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2148-11-19 14:23:43,2148-11-26 13:12:15,6.950370
438147,19999625,M,81,25304202.0,2139-10-10 18:06:00,2139-10-16 03:30:00,NaT,31070865.0,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2139-10-10 19:18:00,2139-10-11 18:21:28,0.960741
438168,19999828,F,46,25744818.0,2149-01-08 16:44:00,2149-01-18 17:00:00,NaT,36075953.0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2149-01-08 18:12:00,2149-01-10 13:11:02,1.790995
438170,19999840,M,58,21033226.0,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,38978960.0,Trauma SICU (TSICU),Surgical Intensive Care Unit (SICU),2164-09-12 09:26:28,2164-09-17 16:35:15,5.297766
438172,19999987,F,57,23865745.0,2145-11-02 21:38:00,2145-11-11 12:57:00,NaT,36195440.0,Trauma SICU (TSICU),Trauma SICU (TSICU),2145-11-02 22:59:00,2145-11-04 21:29:30,1.937847

In [91]:
#일단 여기까지 한것을 저장해주겠습니다
adults_icu2.to_csv('../outputs/adult_icu2.csv', index=False)

#### 성인환자 + 기관 삽관 정보 붙여서 해당 처치를 한 성인만 데이터로 만들기

##### 기관삽관/발관과 관련된 아이템 코드 찾아보기

In [92]:
#어떤 스키마에 어떤 테이블이 있는지 확인
curs.execute("select * from PG_TABLES;")
rows = curs.fetchall( ) #결과가지고옴

for row in rows:
    print(row)

('mimiciv_hosp', 'diagnoses_icd', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'labevents', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'd_icd_diagnoses', 'mai_admin', None, True, False, False, False)
('mimiciv_hosp', 'd_icd_procedures', 'mai_admin', None, True, False, False, False)
('mimiciv_hosp', 'emar', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'hcpcsevents', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'd_labitems', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'pharmacy', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'omr', 'mai_admin', None, False, False, False, False)
('mimiciv_hosp', 'poe_detail', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'poe', 'mai_admin', None, True, False, True, False)
('pg_catalog', 'pg_statistic', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_type', 'postgres', None, True, False, False, False)
('mimiciv_hosp', 'procedures_icd', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'provider', 'mai_admin', None, False, False, False, False)
('mimiciv_hosp', 'drgcodes', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'emar_detail', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'd_hcpcs', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'microbiologyevents', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'prescriptions', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'services', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'transfers', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'caregiver', 'mai_admin', None, False, False, False, False)
('mimiciv_icu', 'inputevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'ingredientevents', 'mai_admin', None, False, False, False, False)
('mimiciv_icu', 'chartevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'icustays', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'd_items', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'datetimeevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'outputevents', 'mai_admin', None, True, False, True, False)
('mimiciv_icu', 'procedureevents', 'mai_admin', None, True, False, True, False)
('pg_catalog', 'pg_foreign_table', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_authid', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_statistic_ext_data', 'postgres', None, True, False, False, False)
('mimiciv_hosp', 'patients', 'mai_admin', None, True, False, True, False)
('mimiciv_hosp', 'admissions', 'mai_admin', None, True, False, True, False)
('mimiciv_derived', 'age', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icustay_detail', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icustay_hourly', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'bg', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'blood_differential', 'mai_admin', None, False, False, False, False)
('pg_catalog', 'pg_user_mapping', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_subscription', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_attribute', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_proc', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_class', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_attrdef', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_constraint', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_inherits', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_index', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_operator', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_opfamily', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_opclass', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_am', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_amop', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_amproc', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_language', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_largeobject_metadata', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_aggregate', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_statistic_ext', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_rewrite', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_trigger', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_event_trigger', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_description', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_cast', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_enum', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_namespace', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_conversion', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_depend', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_database', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_db_role_setting', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_tablespace', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_auth_members', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_shdepend', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_shdescription', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_ts_config', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_config_map', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_dict', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_parser', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_ts_template', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_extension', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_foreign_data_wrapper', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_foreign_server', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_policy', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_replication_origin', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_default_acl', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_init_privs', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_seclabel', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_shseclabel', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_collation', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_parameter_acl', 'postgres', 'pg_global', True, False, False, False)
('pg_catalog', 'pg_partitioned_table', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_range', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_transform', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_sequence', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_publication', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_publication_namespace', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_publication_rel', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_subscription_rel', 'postgres', None, True, False, False, False)
('pg_catalog', 'pg_largeobject', 'postgres', None, True, False, False, False)
('information_schema', 'sql_features', 'postgres', None, False, False, False, False)
('information_schema', 'sql_implementation_info', 'postgres', None, False, False, False, False)
('information_schema', 'sql_parts', 'postgres', None, False, False, False, False)
('information_schema', 'sql_sizing', 'postgres', None, False, False, False, False)
('mimiciv_derived', 'cardiac_marker', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'chemistry', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'coagulation', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'complete_blood_count', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'creatinine_baseline', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'enzyme', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'gcs', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'height', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icp', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'inflammation', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'oxygen_delivery', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'rhythm', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'urine_output_rate', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'ventilator_setting', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'vitalsign', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'charlson', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'antibiotic', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'dobutamine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'dopamine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'epinephrine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'milrinone', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'neuroblock', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'norepinephrine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'phenylephrine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'vasopressin', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'crrt', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'invasive_line', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'rrt', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'ventilation', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_bg', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_bg_art', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_gcs', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_height', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_lab', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_rrt', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_urine_output', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_vitalsign', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_weight', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'kdigo_creatinine', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'meld', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'apsiii', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'lods', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'oasis', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sapsii', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sirs', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sofa', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'suspicion_of_infection', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'icustay_times', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'weight_durations', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'urine_output', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'kdigo_uo', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'kdigo_stages', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'first_day_sofa', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'sepsis3', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'vasoactive_agent', 'mai_admin', None, False, False, False, False)
('mimiciv_derived', 'norepinephrine_equivalent_dose', 'mai_admin', None, False, False, False, False)

extubation 을 할 수 있는 사람은 기관 삽관 이력이 있어야 합니다.그럼 intubation, extubation 이력을 찾아야 합니다. 이 정보는 시술 정보에 있을 것입니다.
d_로 시작하는 테이블들은 dictionary 정보들을 담고 있습니다. 아마 시술정보는 item이나 procedure에 있을 것입니다.

In [93]:
# curs.execute("select * from mimiciv_hosp.d_icd_diagnoses;")
# columns_name = [desc[0] for desc in curs.description]
# d_icd_diagnoses = pd.DataFrame(curs.fetchall(), columns=columns_name) 
# d_icd_diagnoses

In [94]:
# curs.execute("select * from mimiciv_hosp.diagnoses_icd;")
# columns_name = [desc[0] for desc in curs.description]
# diagnoses_icd = pd.DataFrame(curs.fetchall(), columns=columns_name) 
# diagnoses_icd

In [95]:
# curs.execute("select * from mimiciv_hosp.d_labitems;")
# columns_name = [desc[0] for desc in curs.description]
# d_labitems = pd.DataFrame(curs.fetchall(), columns=columns_name) 
# d_labitems

In [96]:
curs.execute("select * from mimiciv_hosp.d_icd_procedures;")
columns_name = [desc[0] for desc in curs.description]
d_icd_procedures = pd.DataFrame(curs.fetchall(), columns=columns_name) 
d_icd_procedures

      icd_code  icd_version                                         long_title
0      0001               9  Therapeutic ultrasound of vessels of head and ...
1      0002               9                    Therapeutic ultrasound of heart
2      0003               9  Therapeutic ultrasound of peripheral vascular ...
3      0009               9                       Other therapeutic ultrasound
4      001               10  Central Nervous System and Cranial Nerves, Bypass
...        ...          ...                                                ...
85252  XW0DXV5           10  Introduction of Gilteritinib Antineoplastic in...
85253  XXE               10  New Technology, Physiological Systems, Measure...
85254  XXE5XM5           10  Measurement of Infection, Whole Blood Nucleic ...
85255  XY0               10       New Technology, Extracorporeal, Introduction
85256  XY0VX83           10  Extracorporeal Introduction of Endothelial Dam...

[85257 rows x 3 columns]

In [97]:
curs.execute("select * from mimiciv_hosp.procedures_icd;")
columns_name = [desc[0] for desc in curs.description]
procedures_icd = pd.DataFrame(curs.fetchall(), columns=columns_name) 
procedures_icd

        subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0         10000032  22595853        1  2180-05-07     5491            9
1         10000032  22841357        1  2180-06-27     5491            9
2         10000032  25742920        1  2180-08-06     5491            9
3         10000068  25022803        1  2160-03-03     8938            9
4         10000117  27988844        1  2183-09-19  0QS734Z           10
...            ...       ...      ...         ...      ...          ...
669181    19999840  21033226        5  2164-09-16     0331            9
669182    19999840  26071774        1  2164-07-25     8891            9
669183    19999840  26071774        2  2164-07-25     8841            9
669184    19999987  23865745        1  2145-11-07     8841            9
669185    19999987  23865745        2  2145-11-02     9671            9

[669186 rows x 6 columns]

In [98]:
curs.execute("select * from mimiciv_icu.d_items;")
columns_name = [desc[0] for desc in curs.description]
d_items = pd.DataFrame(curs.fetchall(), columns=columns_name) 
d_items

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220001,Problem List,Problem List,chartevents,General,None,Text,NaN,NaN
1,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,None,Date and time,NaN,NaN
2,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
3,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4009,230077,Documented on DC Summary (PICC),Documented on DC Summary (PICC),chartevents,PICC Line Insertion,None,Text,NaN,NaN
4010,230078,Documented on DC Summary (Thora),Documented on DC Summary (Thora),chartevents,Thoracentesis,None,Text,NaN,NaN
4011,230083,Replacement Fluid (Pre-Filter),Replacement Fluid (Pre-Filter),chartevents,Dialysis,None,Text,NaN,NaN
4012,230084,Replacement Fluid (Post-Filter),Replacement Fluid (Post-Filter),chartevents,Dialysis,None,Text,NaN,NaN
4013,230085,Dialysate Fluid,Dialysate Fluid,chartevents,Dialysis,None,Text,NaN,NaN

In [99]:
# engine = create_engine('postgresql+psycopg2://mai_admin:admin1q2w!@@local/mimic4')
# #진단/시술관련 정보 가지고와서 환자 정의에 활용하기 - 변수 찾아보기
# d_icd_diagnoses = pd.read_sql("select * from mimic4.mimic_hosp.d_icd_diagnoses", engine)
# d_icd_procedures = pd.read_sql("select * from mimic4.mimic_hosp.d_icd_procedures", engine)
# diagnoses_icd = pd.read_sql("select * from mimic4.mimic_hosp.diagnoses_icd", engine)
# procedures_icd = pd.read_sql("select * from mimic4.mimic_hosp.procedures_icd", engine)
# d_labitems = pd.read_sql("select * from mimic4.mimic_hosp.d_labitems", engine)
# d_items = pd.read_sql("select * from mimic4.mimic_icu.d_items", engine)

In [100]:
d_icd_procedures.head(2)

  icd_code  icd_version                                         long_title
0  0001               9  Therapeutic ultrasound of vessels of head and ...
1  0002               9                    Therapeutic ultrasound of heart

In [101]:
procedures_icd.head(2)

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10000032  22595853        1  2180-05-07     5491            9
1    10000032  22841357        1  2180-06-27     5491            9

In [102]:
d_icd_procedures[d_icd_procedures['long_title'].str.contains('ubation')]

      icd_code  icd_version                             long_title
25019  0944               9        Intubation of nasolacrimal duct
77678  9605               9  Other intubation of respiratory tract

In [103]:
d_icd_procedures[d_icd_procedures['long_title'].str.contains('Exubation')]

Empty DataFrame
Columns: [icd_code, icd_version, long_title]
Index: []

In [104]:
d_items[d_items['label'].str.contains('Intubation')] #intubation, extubation 은 chartevents 에 있는 것으로 봐야 할 듯 함. // Procedureevents 에도 있음

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
321,222871,Mallampati classification (Intubation),Mallampati classification (Intubation),chartevents,Intubation,None,Text,NaN,NaN
322,223059,Intubation - Details,Intubation - Details,chartevents,Respiratory,None,Text,NaN,NaN
665,224385,Intubation,Intubation,procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
1185,225271,Induction/Drugs/Doses (Intubation),Induction/Drugs/Doses (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1198,225291,Indication (Intubation),Indication (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1199,225292,Unable to complete Airway Assessment (Intubation),Unable to complete Airway (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1200,225294,Mouth Opening (Intubation),Mouth Opening (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1201,225295,Thyromental Distance (Intubation),Thyromental Distance (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1202,225296,Mandibular Prognatism (Intubation),Mandibular Prognatism (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1203,225297,Teeth/Dentition (Intubation),Teeth/Dentition (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1204,225298,Neck ROM (Intubation),Neck ROM (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1205,225300,No Drugs Administered (Intubation),No Drugs Administered (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1206,225301,RSI (Intubation),RSI (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1207,225302,Pre-Oxygentated (Intubation),Pre-Oxygentated (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1208,225303,Mask Ventilation (Intubation),Mask Ventilation (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1209,225304,Blade / Equipment (Intubation),Blade / Equipment (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1210,225306,Number of Attempts (Intubation),Number of Attempts (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1382,225585,ETT Depth (Intubation),ETT Depth (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1383,225586,Stylette (Intubation),Stylette (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1384,225587,Bougie (Intubation),Bougie (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1385,225588,Tube Secured (Intubation),Tube Secured (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1386,225590,Tracheal Confirmation (Intubation),Tracheal Confirmation (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1387,225592,ETT Size (Intubation),ETT Size (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1388,225593,Best Larynx View Obtained (Intubation),Best Larynx View Obtained (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1788,226166,No Complications (Intubation),No Complications (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1796,226188,Timeout Performed by (Intubation),Timeout Performed by (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1797,226189,Patient identified correctly by 2 means (Intub...,Patient identified correctly by 2 means (Intub...,chartevents,Intubation,None,Text,NaN,NaN
1798,226190,Hand Cleansing prior to procedure (Intubation),Hand Cleansing prior to (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
1799,226191,Barrier precautions in place (Intubation),Barrier precautions in place (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1835,226429,ETT Type (Intubation),ETT Type (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1836,226430,Complications (Intubation),Complications (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1837,226431,Verification of (Intubation),Verification of (Intubation),chartevents,Intubation,None,Text,NaN,NaN
1838,226432,Drugs (Intubation),Drugs (Intubation),chartevents,Intubation,None,Text,NaN,NaN
2145,227210,Propofol (Intubation),Propofol (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
2146,227211,Ketamine (Intubation),Ketamine (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
2147,227212,Etomidate (Intubation),Etomidate (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
2148,227213,Vecuronium (Intubation),Vecuronium (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
2149,227214,Cis-atracurium (Intubation),Cis-atracurium (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
2150,227215,Succynlocholine (Intubation),Succynlocholine (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
2618,228065,Hand Cleansing prior to procedure (Intubation),Hand Cleansing prior to procedure (Intubation),chartevents,Intubation,None,Text,NaN,NaN
2619,228066,Unable to complete Airway Assessment (Intubation),Unable to complete Assessment (Intubation),chartevents,Intubation,None,Text,NaN,NaN
2620,228067,Stylette (Intubation),Stylette (Intubation),chartevents,Intubation,None,Text,NaN,NaN
2621,228068,Bougie (Intubation),Bougie (Intubation),chartevents,Intubation,None,Text,NaN,NaN
2622,228069,Tube Secured (Intubation),Tube Secured (Intubation),chartevents,Intubation,None,Text,NaN,NaN
2623,228070,The Attending/Supervisor is the Clinical Opera...,The Attending/Supervisor (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
2624,228071,I was present during the above procedure and a...,I was present during the procedure (Intubation),chartevents,Intubation,None,Checkbox,NaN,NaN
3089,228643,Barrier precautions in place (Intubation),Barrier precautions in place (Intubation),chartevents,Intubation,None,Text,NaN,NaN
3866,229784,Code Status (Intubation),Code Status (Intubation),chartevents,Intubation,None,Text,NaN,NaN
3867,229786,Preoxygenation (Intubation),Preoxygenation (Intubation),chartevents,Intubation,None,Text,NaN,NaN
3868,229787,Rigid Stylette (Intubation),Rigid Stylette (Intubation),chartevents,Intubation,None,Text,NaN,NaN
3869,229788,Rocuronium (Intubation),Rocuronium (Intubation),chartevents,Intubation,mg,Numeric,NaN,NaN
3870,229789,Phenylephrine (Intubation),Phenylephrine (Intubation),chartevents,Intubation,mcg,Numeric,NaN,NaN

In [105]:
d_items[d_items['label'].str.contains('Extubation')] #intubation, extubation 은 chartevents 에 있는 것으로 봐야 할 듯 함. // Procedureevents 에도 있음

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
1324,225468,Unplanned Extubation (patient-initiated),Unplanned Extubation (patient-initiated),procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
1331,225477,Unplanned Extubation (non-patient initiated),Unplanned Extubation (non-patient initiated),procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
2141,227194,Extubation,Extubation,procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN

##### Intubation/Extubation 이벤트 확보

* Intubation 은
224385	Intubation	Intubation	procedureevents	1-Intubation/Extubation (223059	Intubation - Details	Intubation - Details	chartevents	Respiratory	는 참고 / 225301	RSI (Intubation)	RSI (Intubation)	chartevents	Intubation	None	Checkbox	참고)
* Extubation 은
227194	Extubation	Extubation	procedureevents	1-Intubation/Extubation	(225477	Unplanned Extubation (non-patient initiated)	Unplanned Extubation (non-patient initiated)	,225468	Unplanned Extubation (patient-initiated)	Unplanned Extubation (patient-initiated) )

In [106]:
curs.execute("select * from mimiciv_icu.procedureevents where itemid in (224385);")
columns_name = [desc[0] for desc in curs.description]
intubation_all = pd.DataFrame(curs.fetchall(), columns=columns_name) 
intubation_all

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10001884,26184834,37510196,42150,2131-01-11 04:30:00,2131-01-11 04:31:00,2131-01-11 05:40:00,224385,1.0,None,...,2338046,2338046,Intubation/Extubation,Task,65.0,0,0,FinishedRunning,1.0,0.0
1,10003400,23559586,38383343,36212,2137-08-17 21:21:00,2137-08-17 21:22:00,2137-08-17 21:21:00,224385,1.0,None,...,9156137,9156137,Intubation/Extubation,Task,90.5,0,0,FinishedRunning,1.0,0.0
2,10004401,27939719,31202136,58760,2144-04-11 05:03:00,2144-04-11 05:04:00,2144-04-11 05:03:00,224385,1.0,None,...,991564,991564,Intubation/Extubation,Task,120.0,0,0,FinishedRunning,1.0,0.0
3,10004401,29988601,32773003,38908,2144-01-27 19:00:00,2144-01-27 19:01:00,2144-01-27 19:12:00,224385,1.0,None,...,4299790,4299790,Intubation/Extubation,Task,76.0,0,0,FinishedRunning,1.0,0.0
4,10004401,29988601,32773003,42665,2144-01-30 13:00:00,2144-01-30 13:01:00,2144-01-30 13:05:00,224385,1.0,None,...,6177150,6177150,Intubation/Extubation,Task,76.0,0,0,FinishedRunning,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8483,19983257,21588174,30916791,69267,2166-06-14 08:58:00,2166-06-14 08:59:00,2166-06-14 10:04:00,224385,1.0,None,...,8311532,8311532,Intubation/Extubation,Task,118.6,0,0,FinishedRunning,1.0,0.0
8484,19983257,21588174,31169972,29141,2166-06-19 09:20:00,2166-06-19 09:21:00,2166-06-19 10:05:00,224385,1.0,None,...,2633105,2633105,Intubation/Extubation,Task,118.6,0,0,FinishedRunning,1.0,0.0
8485,19984259,20109446,37233855,10984,2153-12-01 11:49:00,2153-12-01 11:50:00,2153-12-01 11:49:00,224385,1.0,None,...,3720321,3720321,Intubation/Extubation,Task,72.0,0,0,FinishedRunning,1.0,0.0
8486,19985545,21516111,34458489,38997,2144-08-03 14:15:00,2144-08-03 14:16:00,2144-08-03 14:15:00,224385,1.0,None,...,5739427,5739427,Intubation/Extubation,Task,70.0,0,0,FinishedRunning,1.0,0.0
8487,19994505,23109063,35505750,52424,2185-11-04 17:56:00,2185-11-04 17:57:00,2185-11-04 18:04:00,224385,1.0,None,...,7617959,7617959,Intubation/Extubation,Task,88.0,0,0,FinishedRunning,1.0,0.0

In [107]:
curs.execute("select * from mimiciv_icu.procedureevents where itemid in (227194,225477,225468);")
columns_name = [desc[0] for desc in curs.description]
extubation_all = pd.DataFrame(curs.fetchall(), columns=columns_name) 
extubation_all
#아 개수가 안맞네.... (intubation은 8488개고 extubation은 23122개임.)

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10001884,26184834,37510196,35966,2131-01-12 17:40:00,2131-01-12 17:41:00,2131-01-12 17:50:00,227194,1.0,None,...,6470885,6470885,Intubation/Extubation,Task,65.0,0,0,FinishedRunning,1.0,0.0
1,10002013,23581541,39060235,65197,2160-05-18 18:00:00,2160-05-18 18:01:00,2160-05-18 17:59:00,227194,1.0,None,...,3546453,3546453,Intubation/Extubation,Task,96.0,0,0,FinishedRunning,1.0,0.0
2,10002428,23473524,35479615,42665,2156-05-20 10:45:00,2156-05-20 10:46:00,2156-05-20 10:51:00,227194,1.0,None,...,9794232,9794232,Intubation/Extubation,Task,48.4,0,0,FinishedRunning,1.0,0.0
3,10002428,28662225,38875437,3009,2156-04-22 17:10:00,2156-04-22 17:11:00,2156-04-22 17:10:00,227194,1.0,None,...,9954431,9954431,Intubation/Extubation,Task,43.0,0,0,FinishedRunning,1.0,0.0
4,10002760,28094813,31831386,50512,2141-04-21 08:00:00,2141-04-21 08:01:00,2141-04-21 08:04:00,227194,1.0,None,...,2857656,2857656,Intubation/Extubation,Task,91.0,0,0,FinishedRunning,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23117,19995832,23014132,34817232,51414,2185-05-05 10:40:00,2185-05-05 10:41:00,2185-05-05 10:52:00,227194,1.0,None,...,9469002,9469002,Intubation/Extubation,Task,97.5,0,0,FinishedRunning,1.0,0.0
23118,19997293,28847872,31877557,90865,2123-12-30 09:40:00,2123-12-30 09:41:00,2123-12-30 10:05:00,227194,1.0,None,...,9302364,9302364,Intubation/Extubation,Task,107.3,0,0,FinishedRunning,1.0,0.0
23119,19997367,20617667,35616526,97715,2126-04-22 08:23:00,2126-04-22 08:24:00,2126-04-22 08:23:00,227194,1.0,None,...,8343642,8343642,Intubation/Extubation,Task,59.0,0,0,FinishedRunning,1.0,0.0
23120,19998843,24842066,30988867,93405,2187-02-08 17:09:00,2187-02-08 17:10:00,2187-02-08 17:15:00,227194,1.0,None,...,9357731,9357731,Intubation/Extubation,Task,90.0,0,0,FinishedRunning,1.0,0.0
23121,19999442,26785317,32336619,26402,2148-11-20 14:15:00,2148-11-20 14:16:00,2148-11-20 14:17:00,227194,1.0,None,...,8029280,8029280,Intubation/Extubation,Task,107.5,0,0,FinishedRunning,1.0,0.0

In [108]:
d_items[d_items['category'].str.contains('1-Intubation/Extubation')]  #재확인

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
665,224385,Intubation,Intubation,procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
1308,225448,Percutaneous Tracheostomy,Percutaneous Tracheostomy,procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
1324,225468,Unplanned Extubation (patient-initiated),Unplanned Extubation (patient-initiated),procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
1331,225477,Unplanned Extubation (non-patient initiated),Unplanned Extubation (non-patient initiated),procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
1808,226237,Open Tracheostomy,Open Tracheostomy,procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN
2141,227194,Extubation,Extubation,procedureevents,1-Intubation/Extubation,None,Processes,NaN,NaN

In [109]:
#Intubation 에 대한 내용을 csv로 정리
intubation_all.to_csv('../outputs/intubation_all.csv', index=False)
intubation_all = pd.read_csv('../outputs/intubation_all.csv')
intubation_all

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10001884,26184834,37510196,42150,2131-01-11 04:30:00,2131-01-11 04:31:00,2131-01-11 05:40:00,224385,1.0,NaN,...,2338046,2338046,Intubation/Extubation,Task,65.0,0,0,FinishedRunning,1.0,0.0
1,10003400,23559586,38383343,36212,2137-08-17 21:21:00,2137-08-17 21:22:00,2137-08-17 21:21:00,224385,1.0,NaN,...,9156137,9156137,Intubation/Extubation,Task,90.5,0,0,FinishedRunning,1.0,0.0
2,10004401,27939719,31202136,58760,2144-04-11 05:03:00,2144-04-11 05:04:00,2144-04-11 05:03:00,224385,1.0,NaN,...,991564,991564,Intubation/Extubation,Task,120.0,0,0,FinishedRunning,1.0,0.0
3,10004401,29988601,32773003,38908,2144-01-27 19:00:00,2144-01-27 19:01:00,2144-01-27 19:12:00,224385,1.0,NaN,...,4299790,4299790,Intubation/Extubation,Task,76.0,0,0,FinishedRunning,1.0,0.0
4,10004401,29988601,32773003,42665,2144-01-30 13:00:00,2144-01-30 13:01:00,2144-01-30 13:05:00,224385,1.0,NaN,...,6177150,6177150,Intubation/Extubation,Task,76.0,0,0,FinishedRunning,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8483,19983257,21588174,30916791,69267,2166-06-14 08:58:00,2166-06-14 08:59:00,2166-06-14 10:04:00,224385,1.0,NaN,...,8311532,8311532,Intubation/Extubation,Task,118.6,0,0,FinishedRunning,1.0,0.0
8484,19983257,21588174,31169972,29141,2166-06-19 09:20:00,2166-06-19 09:21:00,2166-06-19 10:05:00,224385,1.0,NaN,...,2633105,2633105,Intubation/Extubation,Task,118.6,0,0,FinishedRunning,1.0,0.0
8485,19984259,20109446,37233855,10984,2153-12-01 11:49:00,2153-12-01 11:50:00,2153-12-01 11:49:00,224385,1.0,NaN,...,3720321,3720321,Intubation/Extubation,Task,72.0,0,0,FinishedRunning,1.0,0.0
8486,19985545,21516111,34458489,38997,2144-08-03 14:15:00,2144-08-03 14:16:00,2144-08-03 14:15:00,224385,1.0,NaN,...,5739427,5739427,Intubation/Extubation,Task,70.0,0,0,FinishedRunning,1.0,0.0
8487,19994505,23109063,35505750,52424,2185-11-04 17:56:00,2185-11-04 17:57:00,2185-11-04 18:04:00,224385,1.0,NaN,...,7617959,7617959,Intubation/Extubation,Task,88.0,0,0,FinishedRunning,1.0,0.0

In [110]:
#Extubation 에 대한 내용을 csv로 정리
extubation_all.to_csv('../outputs/extubation_all.csv', index=False)
extubation_all = pd.read_csv('../outputs/extubation_all.csv')
extubation_all

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10001884,26184834,37510196,35966,2131-01-12 17:40:00,2131-01-12 17:41:00,2131-01-12 17:50:00,227194,1.0,NaN,...,6470885,6470885,Intubation/Extubation,Task,65.0,0,0,FinishedRunning,1.0,0.0
1,10002013,23581541,39060235,65197,2160-05-18 18:00:00,2160-05-18 18:01:00,2160-05-18 17:59:00,227194,1.0,NaN,...,3546453,3546453,Intubation/Extubation,Task,96.0,0,0,FinishedRunning,1.0,0.0
2,10002428,23473524,35479615,42665,2156-05-20 10:45:00,2156-05-20 10:46:00,2156-05-20 10:51:00,227194,1.0,NaN,...,9794232,9794232,Intubation/Extubation,Task,48.4,0,0,FinishedRunning,1.0,0.0
3,10002428,28662225,38875437,3009,2156-04-22 17:10:00,2156-04-22 17:11:00,2156-04-22 17:10:00,227194,1.0,NaN,...,9954431,9954431,Intubation/Extubation,Task,43.0,0,0,FinishedRunning,1.0,0.0
4,10002760,28094813,31831386,50512,2141-04-21 08:00:00,2141-04-21 08:01:00,2141-04-21 08:04:00,227194,1.0,NaN,...,2857656,2857656,Intubation/Extubation,Task,91.0,0,0,FinishedRunning,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23117,19995832,23014132,34817232,51414,2185-05-05 10:40:00,2185-05-05 10:41:00,2185-05-05 10:52:00,227194,1.0,NaN,...,9469002,9469002,Intubation/Extubation,Task,97.5,0,0,FinishedRunning,1.0,0.0
23118,19997293,28847872,31877557,90865,2123-12-30 09:40:00,2123-12-30 09:41:00,2123-12-30 10:05:00,227194,1.0,NaN,...,9302364,9302364,Intubation/Extubation,Task,107.3,0,0,FinishedRunning,1.0,0.0
23119,19997367,20617667,35616526,97715,2126-04-22 08:23:00,2126-04-22 08:24:00,2126-04-22 08:23:00,227194,1.0,NaN,...,8343642,8343642,Intubation/Extubation,Task,59.0,0,0,FinishedRunning,1.0,0.0
23120,19998843,24842066,30988867,93405,2187-02-08 17:09:00,2187-02-08 17:10:00,2187-02-08 17:15:00,227194,1.0,NaN,...,9357731,9357731,Intubation/Extubation,Task,90.0,0,0,FinishedRunning,1.0,0.0
23121,19999442,26785317,32336619,26402,2148-11-20 14:15:00,2148-11-20 14:16:00,2148-11-20 14:17:00,227194,1.0,NaN,...,8029280,8029280,Intubation/Extubation,Task,107.5,0,0,FinishedRunning,1.0,0.0

In [111]:
extubation_all['value'].unique() #결과가 1,0 이라서 했다 안했다 이 의미인 듯

array([1.])

In [112]:
extubation_all['value'].value_counts()

value
1.0    23122
Name: count, dtype: int64

#### Intubation/Extubation 정보 활용하여 환자 정의하기

In [113]:
#이제 이 데이터를 활용해서 환자를 정의해보겠습니다.
#먼저 intubation -> extubation -> intubation(reintubation) 순으로 절차가 이루어 집니다. 여기서 intubation~extubation 이 적어도 24시간 이상 이루어진 환자를 찾습니다 (일시적 목적으로 사용한 환자 제거)
#그다음, extubation 이후 48시간 이내에 다시 intubation 을 한 환자를 찾습니다. (reintubation) 이 환자들은 extubation failure 군으로 분류 될 것입니다.
#그렇다면 extubation 이후 48시간을 초과하여 재 삽관(reintubation 한 환자는 extubation non-failure 로 분류 할 것입니다. sucess라고 단정지을 수 있는)

In [114]:
intubation_all

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10001884,26184834,37510196,42150,2131-01-11 04:30:00,2131-01-11 04:31:00,2131-01-11 05:40:00,224385,1.0,NaN,...,2338046,2338046,Intubation/Extubation,Task,65.0,0,0,FinishedRunning,1.0,0.0
1,10003400,23559586,38383343,36212,2137-08-17 21:21:00,2137-08-17 21:22:00,2137-08-17 21:21:00,224385,1.0,NaN,...,9156137,9156137,Intubation/Extubation,Task,90.5,0,0,FinishedRunning,1.0,0.0
2,10004401,27939719,31202136,58760,2144-04-11 05:03:00,2144-04-11 05:04:00,2144-04-11 05:03:00,224385,1.0,NaN,...,991564,991564,Intubation/Extubation,Task,120.0,0,0,FinishedRunning,1.0,0.0
3,10004401,29988601,32773003,38908,2144-01-27 19:00:00,2144-01-27 19:01:00,2144-01-27 19:12:00,224385,1.0,NaN,...,4299790,4299790,Intubation/Extubation,Task,76.0,0,0,FinishedRunning,1.0,0.0
4,10004401,29988601,32773003,42665,2144-01-30 13:00:00,2144-01-30 13:01:00,2144-01-30 13:05:00,224385,1.0,NaN,...,6177150,6177150,Intubation/Extubation,Task,76.0,0,0,FinishedRunning,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8483,19983257,21588174,30916791,69267,2166-06-14 08:58:00,2166-06-14 08:59:00,2166-06-14 10:04:00,224385,1.0,NaN,...,8311532,8311532,Intubation/Extubation,Task,118.6,0,0,FinishedRunning,1.0,0.0
8484,19983257,21588174,31169972,29141,2166-06-19 09:20:00,2166-06-19 09:21:00,2166-06-19 10:05:00,224385,1.0,NaN,...,2633105,2633105,Intubation/Extubation,Task,118.6,0,0,FinishedRunning,1.0,0.0
8485,19984259,20109446,37233855,10984,2153-12-01 11:49:00,2153-12-01 11:50:00,2153-12-01 11:49:00,224385,1.0,NaN,...,3720321,3720321,Intubation/Extubation,Task,72.0,0,0,FinishedRunning,1.0,0.0
8486,19985545,21516111,34458489,38997,2144-08-03 14:15:00,2144-08-03 14:16:00,2144-08-03 14:15:00,224385,1.0,NaN,...,5739427,5739427,Intubation/Extubation,Task,70.0,0,0,FinishedRunning,1.0,0.0
8487,19994505,23109063,35505750,52424,2185-11-04 17:56:00,2185-11-04 17:57:00,2185-11-04 18:04:00,224385,1.0,NaN,...,7617959,7617959,Intubation/Extubation,Task,88.0,0,0,FinishedRunning,1.0,0.0

In [115]:
intubation_all['statusdescription'].value_counts() #완료된게 몇개인가 세어보기

statusdescription
FinishedRunning    8488
Name: count, dtype: int64

In [116]:
intubation1 =intubation_all >> select("subject_id", "hadm_id", "stay_id", "starttime", "itemid", "patientweight") #필요한 컬럼만 빼기

In [117]:
extubation_all['statusdescription'].value_counts() #extubaion이 훨씬 많음 왤까??

statusdescription
FinishedRunning    23122
Name: count, dtype: int64

In [118]:
extubation1 = extubation_all >> select("subject_id", "hadm_id", "stay_id", "starttime", "itemid", "patientweight")  #일단 필요한 컬럼만 빼기

In [119]:
#extubation1.rename(columns={'itemid':'extubationcuase'}, inplace=True)

In [120]:
#extubation
#Extubation 각 처방마다 다른데, 1227194는 모든 prodedure?인것 같고, 225477, 은 환자 요인이 아닌 계획되지 않은 발관, 225468은 환자 요인에 의한 계획되지 않은 발관임 (self remove 로 보임)
#1227194 Extubation	Extubation	procedureevents	1-Intubation/Extubation
#225477	Unplanned Extubation (non-patient initiated)
#225468	Unplanned Extubation (patient-initiated)

def label_extubation(row):
    if row['itemid'] == 225477:
        return 'Unplanned Extuabtion (non-patient initiated)'
    elif row['itemid'] == 225468:
        return 'Unplanned Extuabtion (patient-initiated)'
    else:
        return 'Planned Extubation'
    
extubation1['extubationcause'] = extubation1.apply(lambda row: label_extubation(row), axis=1)

In [121]:
extubation1['extubationcause'].value_counts()

extubationcause
Planned Extubation                              22336
Unplanned Extuabtion (patient-initiated)          730
Unplanned Extuabtion (non-patient initiated)       56
Name: count, dtype: int64

In [122]:
#두개의 테이블이 되었으니 먼저 ventilator 를 24시간 이상 유지한 환자만 골라낼 것임
#먼저 starttime이라는 컬럼명이 겹치니까 바꿔 줄 예정
#시작시간이 곧 intubation/extubation 시간이니까 의미에 맞게 바꿔주겠음
intubation1.rename(columns={'starttime':'intubationtime'}, inplace=True)
extubation1.rename(columns={'starttime':'extubationtime'}, inplace=True)

In [123]:
intubation1['intubationtime'] = pd.to_datetime(intubation1['intubationtime'])
extubation1['extubationtime'] = pd.to_datetime(extubation1['extubationtime'])

### intubation1과 extubation1 의 중복데이터 제거
* 연월일시까지 같으면 제거

In [124]:
intubation1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8488 entries, 0 to 8487
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      8488 non-null   int64
 1   hadm_id         8488 non-null   int64
 2   stay_id         8488 non-null   int64
 3   intubationtime  8488 non-null   datetime64[ns]
 4   itemid          8488 non-null   int64
 5   patientweight   8488 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 398.0 KB

In [125]:
# #같은 hadm_id 인 대상자 중에, 현재 row의 intubationtime 과 다음 row의 intubation time 을 비교했을 때, yyyy-mm-dd hh 까지 같으면 같은 이벤트로 보고 duplicated 되었음


# # 함수: 중복된 이벤트 확인
# def is_duplicated_event(row):
#     # 현재 row의 hadm_id와 intubationtime의 날짜와 시간 정보를 가져옵니다.
#     current_hadm_id = row['hadm_id']
#     current_intubation_time = row['intubationtime'].strftime('%Y-%m-%d %H')
    
#     # 이전 row의 hadm_id와 intubationtime의 날짜와 시간 정보를 가져옵니다.
#     previous_hadm_id = row['prev_hadm_id']
#     previous_intubation_time = row['prev_intubationtime'].strftime('%Y-%m-%d %H') if pd.notnull(row['prev_intubationtime']) else None
    
#     # 현재 row와 이전 row의 hadm_id 및 intubationtime의 날짜와 시간이 같으면 "duplicated", 그렇지 않으면 "not duplicated" 반환
#     if current_hadm_id == previous_hadm_id and current_intubation_time == previous_intubation_time:
#         return 'duplicated'
#     return 'not duplicated'

# # 이전 row의 hadm_id와 intubationtime을 새로운 컬럼으로 추가합니다.
# intubation1['prev_hadm_id'] = intubation1['hadm_id'].shift(1)
# intubation1['prev_intubationtime'] = intubation1['intubationtime'].shift(1)

# # 새로운 'dup' 컬럼에 is_duplicated_event 함수를 적용하여 결과를 저장합니다.
# intubation1['dup'] = intubation1.apply(is_duplicated_event, axis=1)

# # 'prev_hadm_id' 및 'prev_intubationtime' 컬럼 삭제
# intubation1.drop(columns=['prev_hadm_id', 'prev_intubationtime'], inplace=True)

In [126]:
# 함수: 중복된 이벤트 확인
def is_duplicated_event(row):
    # 현재 row의 hadm_id와 intubationtime을 가져옵니다.
    current_hadm_id = row['hadm_id']
    current_intubation_time = row['intubationtime']
    
    # 이전 row의 hadm_id와 intubationtime을 가져옵니다.
    previous_hadm_id = row['prev_hadm_id']
    previous_intubation_time = row['prev_intubationtime']
    
    # 현재 row와 이전 row 사이의 intubationtime의 시간 차이를 계산합니다.
    if pd.notnull(previous_intubation_time):
        time_difference = current_intubation_time - previous_intubation_time
    else:
        time_difference = None

    # 현재 row와 이전 row의 hadm_id가 동일하고 intubationtime의 차이가 1시간 이내인 경우 "duplicated", 그렇지 않으면 "not duplicated" 반환
    if current_hadm_id == previous_hadm_id and (time_difference is not None) and (time_difference <= pd.Timedelta(hours=1)):
        return 'duplicated'
    return 'not duplicated'

# 이전 row의 hadm_id와 intubationtime을 새로운 컬럼으로 추가합니다.
intubation1['prev_hadm_id'] = intubation1['hadm_id'].shift(1)
intubation1['prev_intubationtime'] = intubation1['intubationtime'].shift(1)

# 새로운 'dup' 컬럼에 is_duplicated_event 함수를 적용하여 결과를 저장합니다.
intubation1['dup'] = intubation1.apply(is_duplicated_event, axis=1)

# 'prev_hadm_id' 및 'prev_intubationtime' 컬럼 삭제
intubation1.drop(columns=['prev_hadm_id', 'prev_intubationtime'], inplace=True)

In [127]:
intubation1 = intubation1[intubation1['dup'] == 'not duplicated']

In [128]:
intubation1.drop('dup', axis=1, inplace=True)

In [129]:
intubation1

,subject_id,hadm_id,stay_id,intubationtime,itemid,patientweight
0,10001884,26184834,37510196,2131-01-11 04:30:00,224385,65.0
1,10003400,23559586,38383343,2137-08-17 21:21:00,224385,90.5
2,10004401,27939719,31202136,2144-04-11 05:03:00,224385,120.0
3,10004401,29988601,32773003,2144-01-27 19:00:00,224385,76.0
4,10004401,29988601,32773003,2144-01-30 13:00:00,224385,76.0
...,...,...,...,...,...,...
8483,19983257,21588174,30916791,2166-06-14 08:58:00,224385,118.6
8484,19983257,21588174,31169972,2166-06-19 09:20:00,224385,118.6
8485,19984259,20109446,37233855,2153-12-01 11:49:00,224385,72.0
8486,19985545,21516111,34458489,2144-08-03 14:15:00,224385,70.0
8487,19994505,23109063,35505750,2185-11-04 17:56:00,224385,88.0

In [130]:
extubation1

,subject_id,hadm_id,stay_id,extubationtime,itemid,patientweight,extubationcause
0,10001884,26184834,37510196,2131-01-12 17:40:00,227194,65.0,Planned Extubation
1,10002013,23581541,39060235,2160-05-18 18:00:00,227194,96.0,Planned Extubation
2,10002428,23473524,35479615,2156-05-20 10:45:00,227194,48.4,Planned Extubation
3,10002428,28662225,38875437,2156-04-22 17:10:00,227194,43.0,Planned Extubation
4,10002760,28094813,31831386,2141-04-21 08:00:00,227194,91.0,Planned Extubation
...,...,...,...,...,...,...,...
23117,19995832,23014132,34817232,2185-05-05 10:40:00,227194,97.5,Planned Extubation
23118,19997293,28847872,31877557,2123-12-30 09:40:00,227194,107.3,Planned Extubation
23119,19997367,20617667,35616526,2126-04-22 08:23:00,227194,59.0,Planned Extubation
23120,19998843,24842066,30988867,2187-02-08 17:09:00,227194,90.0,Planned Extubation
23121,19999442,26785317,32336619,2148-11-20 14:15:00,227194,107.5,Planned Extubation

In [131]:
extubation1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23122 entries, 0 to 23121
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subject_id       23122 non-null  int64
 1   hadm_id          23122 non-null  int64
 2   stay_id          23122 non-null  int64
 3   extubationtime   23122 non-null  datetime64[ns]
 4   itemid           23122 non-null  int64
 5   patientweight    23122 non-null  float64
 6   extubationcause  23122 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 1.2+ MB

In [132]:
# #같은 hadm_id 인 대상자 중에, 현재 row의 extubationtime 과 다음 row의 extubationtime 을 비교했을 때, yyyy-mm-dd hh 까지 같으면 같은 이벤트로 보고 duplicated 되었음


# # 함수: 중복된 이벤트 확인
# def is_duplicated_event(row):
#     # 현재 row의 hadm_id와 extubationtime 날짜와 시간 정보를 가져옵니다.
#     current_hadm_id = row['hadm_id']
#     current_extubation_time = row['extubationtime'].strftime('%Y-%m-%d %H')
    
#     # 이전 row의 hadm_id와 extubationtime 날짜와 시간 정보를 가져옵니다.
#     previous_hadm_id = row['prev_hadm_id']
#     previous_extubation_time = row['prev_extubationtime'].strftime('%Y-%m-%d %H') if pd.notnull(row['prev_extubationtime']) else None
    
#     # 현재 row와 이전 row의 hadm_id 및 extubationtime 날짜와 시간이 같으면 "duplicated", 그렇지 않으면 "not duplicated" 반환
#     if current_hadm_id == previous_hadm_id and current_extubation_time == previous_extubation_time:
#         return 'duplicated'
#     return 'not duplicated'

# # 이전 row의 hadm_id와 extubationtime을 새로운 컬럼으로 추가합니다.
# extubation1['prev_hadm_id'] = extubation1['hadm_id'].shift(1)
# extubation1['prev_extubationtime'] = extubation1['extubationtime'].shift(1)

# # 새로운 'dup' 컬럼에 is_duplicated_event 함수를 적용하여 결과를 저장합니다.
# extubation1['dup'] = extubation1.apply(is_duplicated_event, axis=1)

# # 'prev_hadm_id' 및 'prev_intubationtime' 컬럼 삭제
# extubation1.drop(columns=['prev_hadm_id', 'prev_extubationtime'], inplace=True)

In [133]:
# 함수: 중복된 이벤트 확인
def is_duplicated_event(row):
    # 현재 row의 hadm_id와 intubationtime을 가져옵니다.
    current_hadm_id = row['hadm_id']
    current_extubation_time = row['extubationtime']
    
    # 이전 row의 hadm_id와 intubationtime을 가져옵니다.
    previous_hadm_id = row['prev_hadm_id']
    previous_extubation_time = row['prev_extubationtime']
    
    # 현재 row와 이전 row 사이의 intubationtime의 시간 차이를 계산합니다.
    if pd.notnull(previous_extubation_time):
        time_difference = current_extubation_time - previous_extubation_time
    else:
        time_difference = None

    # 현재 row와 이전 row의 hadm_id가 동일하고 intubationtime의 차이가 1시간 이내인 경우 "duplicated", 그렇지 않으면 "not duplicated" 반환
    if current_hadm_id == previous_hadm_id and (time_difference is not None) and (time_difference <= pd.Timedelta(hours=1)):
        return 'duplicated'
    return 'not duplicated'

# 이전 row의 hadm_id와 intubationtime을 새로운 컬럼으로 추가합니다.
extubation1['prev_hadm_id'] = extubation1['hadm_id'].shift(1)
extubation1['prev_extubationtime'] = extubation1['extubationtime'].shift(1)

# 새로운 'dup' 컬럼에 is_duplicated_event 함수를 적용하여 결과를 저장합니다.
extubation1['dup'] = extubation1.apply(is_duplicated_event, axis=1)

# 'prev_hadm_id' 및 'prev_intubationtime' 컬럼 삭제
extubation1.drop(columns=['prev_hadm_id', 'prev_extubationtime'], inplace=True)

In [134]:
extubation1 = extubation1[extubation1['dup'] == 'not duplicated']

In [135]:
extubation1.drop('dup', axis=1, inplace=True)

In [136]:
extubation1

,subject_id,hadm_id,stay_id,extubationtime,itemid,patientweight,extubationcause
0,10001884,26184834,37510196,2131-01-12 17:40:00,227194,65.0,Planned Extubation
1,10002013,23581541,39060235,2160-05-18 18:00:00,227194,96.0,Planned Extubation
2,10002428,23473524,35479615,2156-05-20 10:45:00,227194,48.4,Planned Extubation
3,10002428,28662225,38875437,2156-04-22 17:10:00,227194,43.0,Planned Extubation
4,10002760,28094813,31831386,2141-04-21 08:00:00,227194,91.0,Planned Extubation
...,...,...,...,...,...,...,...
23117,19995832,23014132,34817232,2185-05-05 10:40:00,227194,97.5,Planned Extubation
23118,19997293,28847872,31877557,2123-12-30 09:40:00,227194,107.3,Planned Extubation
23119,19997367,20617667,35616526,2126-04-22 08:23:00,227194,59.0,Planned Extubation
23120,19998843,24842066,30988867,2187-02-08 17:09:00,227194,90.0,Planned Extubation
23121,19999442,26785317,32336619,2148-11-20 14:15:00,227194,107.5,Planned Extubation

In [137]:
#일단 두 테이블을 파일로 저장해주겠음
intubation1.to_csv('../outputs/intubation1.csv', index=False)
extubation1.to_csv('../outputs/extubation1.csv', index=False)

In [138]:
tunnel.close() #터널 더이상 사용하지 않을때 호출해줘야 합니다.